@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
html, body {
    font-family: futura-pt, sans-serif;
}

:root {
    --neutral-900: #16191B;
    --neutral-800: #232426;
    --neutral-700: #393A3C;
    --neutral-600: #83858A;
    --neutral-500: #ACB2BC;
    --neutral-400: #E1E4EE;
    --accent: #2D46B9;
    --gradient-1: linear-gradient( 0deg, rgba(45, 70, 185, 0.25) 0%, rgba(19, 38, 128, 0.4) 32%, rgba(12, 29, 110, 0.5) 78%, rgba(45, 70, 185, 0.1) 100%);
}

.bg-neutral-900 {
    background-color: var(--neutral-900);
}

.bg-accent {
    background-color: var(--accent);
}

.bg-gradient-1 {
    background: linear-gradient( 0deg, rgba(45, 70, 185, 0.25) 0%, rgba(19, 38, 128, 0.4) 32%, rgba(12, 29, 110, 0.5) 78%, rgba(45, 70, 185, 0.1) 100%);
}

.bg-light {
    background-color: #EDF2F8;
}

.bg-dark {
    background-color: var(--neutral-900) !important;
}

.bg-white {
    background-color: white !important;
}

.accent-red-txt {
    color: #FF1C3A;
}

.py-10 {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

/* Navbar */

.navbar {
    background-color: #FAFBFF !important;
    text-transform: uppercase;
    height: 151px;
}

.navbar-brand {
    margin-right: 90px;
}

.nav-link {
    padding: 15px 25px !important;
    background-color: #FAFBFF;
}

.nav-link:hover {
    color: var(--neutral-900);
}

.language_selection ul {
    padding-bottom: 0;
    margin-bottom: 0;
}

.language_selection li {
    display: inline;
    padding: 5px;
}

@media (max-width: 991px) {
    .language_selection {
        background-color: var(--neutral-400);
        text-align: center;
        margin: 0 auto;
        justify-content: center;
        border-top: 1px solid var(--neutral-400);
        padding: 10px;
    }
    .language_selection ul {
        padding: 10px 15px;
        margin: 0 auto;
    }
    .language_selection li {
        padding: 0 25px;
    }
}

.dropdown-menu li a {
    padding: 15px 50px;
}

ul.dropdown-menu.show {
    padding: 0px;
    border: none;
    background-color: #FAFBFF;
    border-radius: 0;
    text-align: center;
}

@media (max-width: 991px) {
    ul.dropdown-menu.show {
        border-bottom: 1px solid var(--neutral-400);
    }
}

a.dropdown-item {
    padding: 15px 25px;
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

.dropdown-item:hover {
    background-color: var(--neutral-900);
    color: var(--neutral-400);
}

.navbar a {
    color: var(--neutral-600);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: black;
}

@media (max-width: 991px) {
    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
        color: var(--neutral-400);
    }
}

@media (max-width: 991px) {
    .nav-link:hover {
        background-color: var(--neutral-900);
        color: var(--neutral-400);
    }
}

@media (max-width: 991px) {
    .navbar-collapse, .dropdown-menu {
        text-align: center !important;
        font-size: 21px;
    }
}

/* Text Styles */

h1 {
    font-size: calc(3.5rem + (18 * (100vw - 400px)/ 624));
    font-weight: 600;
    font-style: normal;
    line-height: 71px;
}

h2 {
    font-weight: 600;
    font-size: calc(2rem + (18 * (100vw - 400px)/ 624));
    line-height: 1.05;
    letter-spacing: -.8px;
    margin-bottom: 1rem
}

h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
}

.caption {
    font-size: .9rem;
    text-transform: uppercase;
    color: var(--neutral-600);
}

.hero--copy {
    font-size: 1.7rem;
}

.kids-promo-video iframe {
    min-width: 100%;
    height: 23rem;
}

.lead {
    line-height: 1.333;
    letter-spacing: -.1px;
    margin: 0 0 2rem 0;
    font-size: calc(1.125rem + (2 * (100vw - 400px)/ 624));
}

.white-text {
    color: white;
}

.dark-900-text {
    color: var(--neutral-900)
}

.cta-buttons {
    margin-top: 30px;
    text-align: center;
}

.btn {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    line-height: 1.5;
    color: #212529;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    padding: .6rem 3rem;
    border: 2px solid black;
    font-size: 12pt;
    border-radius: 500px;
    transition: color 0.5s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: transform 600ms ease-in-out;
}

.btn:hover {
    transform: scale(1.03);
}

.btn-primary {
    color: #fff;
    background-color: var(--neutral-900);
}

.btn-primary:hover {
    background-color: black;
    border: 2px solid black;
}

.btn:active {
    color: #fff;
    background-color: var(--neutral-900);
    border-color: var(--neutral-800);
}

.btn:focus {
    background-color: var(--neutral-800);
    border: none;
}

.btn-secondary {
    border: 2px solid white;
    background-color: transparent;
    color: white;
}

.btn-secondary:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border: 2px solid var(--neutral-400);
}

.btn-dark {
    color: var(--neutral-900);
    border: 2px solid var(--neutral-900);
    background-color: transparent;
}

.btn-dark:hover {
    background-color: var(--neutral-400);
    border: 2px solid var(--neutral-700);
    color: var(--neutral-900);
}

@media (max-width: 576px) {
    .btn {
        width: 100%;
    }
    .homepage--kids-promo {
        text-align: center;
    }
}

.homepage--kids-promo .row {
    padding: 8rem 0 8rem 0;
}

@media (max-width: 576px) {
    .homepage--kids-promo .row {
        padding: 4rem 1rem 0 1rem;
    }
}

#scrollToTopBtn {
    background-color: black;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: 48px;
    width: 48px
}

.logo {
    margin-right: 70px;
}

.hero {
    min-height: 430px;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.hero h3 {
    line-height: 1.1em;
    font-size: 31px;
    font-weight: 400;
    margin-top: 25px;
}

.hero-home {
    text-align: center;
    background: linear-gradient( 0deg, rgba(45, 70, 185, 0.25) 0%, rgba(19, 38, 128, 0.4) 32%, rgba(12, 29, 110, 0.5) 78%, rgba(45, 70, 185, 0.1) 100%), url(../images/home-hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-kids {
    text-align: left;
    background: linear-gradient(75deg, rgba(2, 0, 36, 0.77) 0%, rgba(9, 9, 121, 0.7) 35%, rgba(0, 212, 255, 0.3) 100%), url(../images/kids-class-hero-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-adults {
    text-align: left;
    background: linear-gradient(75deg, rgba(29, 50, 178, 0.92) 0%, rgba(29, 50, 178, 0.5) 35%, rgba(29, 50, 178, 0.9) 100%), url(../images/adults-class-hero-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-coaches {
    background: linear-gradient(75deg, rgba(29, 50, 178, 0.92) 0%, rgba(29, 50, 178, 0.5) 35%, rgba(29, 50, 178, 0.9) 100%), url(../images/coaches-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-basics-curriculum {
    background: linear-gradient(75deg, rgba(29, 50, 178, 0.92) 0%, rgba(29, 50, 178, 0.7) 35%, rgba(29, 50, 178, 0.9) 100%), url(../images/basics-curriculum-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-contacts {
    background: linear-gradient(75deg, rgba(29, 50, 178, 0.92) 0%, rgba(29, 50, 178, 0.75) 35%, rgba(29, 50, 178, 0.9) 100%), url(../images/contacts-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-timetable {
    background: linear-gradient(75deg, rgba(29, 50, 178, 0.92) 0%, rgba(29, 50, 178, 0.75) 35%, rgba(29, 50, 178, 0.9) 100%), url(../images/timetable-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.promo-video iframe {
    width: 100%;
}

#timetable {
    margin: 5rem 0;
}

.weekday {
    background-color: var(--neutral-700);
    padding: 1.5rem 2.5rem;
    margin: 1rem auto;
}

.weekday p {
    margin: 0;
}

.weekday h4 {
    color: var(--neutral-400);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.leglocks {
    border-bottom: 10px solid #777;
}

.k-4-7 {
    border-bottom: 10px solid white;
}

.k-10-15 {
    border-bottom: 10px solid #E5A133;
}

.k-7-10 {
    border-bottom: 10px solid #E5CF28;
}

.basics {
    border-bottom: 10px solid #628AE6;
}

.nogi {
    border-bottom: 10px solid #66C36A;
}

.advanced-gi {
    border-bottom: 10px solid #BF69B2;
}

p.schedule-class {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .03rem;
    margin-top: -.25rem;
}

p.schedule-time {
    font-size: .85rem;
}

.schedule-day {
    background-color: var(--neutral-400);
    padding: .8rem .5rem;
    margin: .5rem;
    min-width: 7rem;
}

.section-lead {
    margin-bottom: 9rem;
    margin-top: 4rem;
}

.section-lead h2::before {
    content: "";
    display: block;
    margin: auto;
    padding-bottom: 20px;
    width: 100px;
    border-top: 3px solid #FF1C3A;
}

#kids-intro {
    height: 50vw;
}

#kids_groups {
    padding: 10vh 10px;
}

#kids_groups h2 {
    margin-bottom: 10px;
}

.hero_content {
    display: flex;
    flex-direction: column;
}

.hero_buttons {
    margin-top: 2rem;
}

.hero_buttons .btn {
    margin: 0 10px 0 0;
}

.kids_intro {
    display: flex;
    align-items: center;
    min-height: 480px;
    height: 90vw;
}

.kids_intro h2 {
    padding: 20px 50px 15px 0px;
}

.kids_intro p {
    padding: 0px 50px 30px 0;
}

.kids_promo_vid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.kids_promo_vid img {
    width: 100%;
}

.homepage--our-team {
    padding-top: 4rem;
}

@media (max-width: 576px) {
    .homepage--our-team {
        padding: 4rem 2rem;
    }
}

@media (max-width: 576px) {
    .homepage--kids-promo .container, .homepage--kids-promo .row {
        padding: 0;
    }
}

@media (max-width: 576px) {
    .cta--kids {
        padding: 5rem 3rem 2rem 3rem !important;
    }
}

.head-coach-photo {
    background-image: url(../images/head-coach-jevgenijs-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 400px;
    min-width: 500px;
}

.head-coach-info {
    background-color: #EDF2F8;
    margin-top: -3rem;
}

.coach-dainis-photo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: url(../images/coach-dainis.jpg);
    min-height: 27rem;
}

.kids-promo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/video-placeholder.jpg);
    min-height: 18rem;
}

.coach-sergejs-photo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: url(../images/coach-sergejs.jpg);
    min-height: 27rem;
}

.coach-valera-photo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: url(../images/coach-valera.jpg);
    min-height: 27rem;
}

.gmaps {
    background-image: url(../images/location-map-placeholder.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 400px;
    min-width: 500px;
}

hr {
    border: none;
    border-top: 1px solid var(--neutral-700);
    margin: 0;
    margin: 2rem 0
}

.heading--top {
    width: 10rem;
    margin: 2rem auto;
    opacity: 1;
    border-top: 3px solid #FF1C3A;
}

.hr10 {
    width: 10rem;
    margin: auto;
    border-color: #FF1C3A;
    opacity: 1;
}

.head-coach-bio {
    margin: 0 10px;
}

.xtra-tracking {
    letter-spacing: .1rem;
}

.all-caps {
    text-transform: uppercase;
}

.bold-600 {
    font-weight: 600;
}

.logos_grouped {
    width: 400px;
    margin: auto;
    display: block;
}

.group_photo {
    margin-top: -5rem;
}

@media (max-width: 576px) {
    .group_photo {
        visibility: hidden;
    }
}

#about-bjj {
    background-color: var(--neutral-900);
    color: var(--neutral-400);
    margin-top: -12rem;
}

.about-bjj--copy {
    padding-top: 10rem;
    padding-bottom: 5rem;
}

@media (max-width: 576px) {
    .about-bjj--copy {
        padding: 3rem 2rem !important;
    }
    #about-bjj {
        background-color: var(--neutral-900);
        color: var(--neutral-400);
        margin-top: 0;
    }
}

#benefits {
    background-color: var(--neutral-900);
    padding: 20px 0;
}

.gallery>.col-sm {
    padding: 0;
}

.benefit_item {
    background-color: var(--accent);
    padding: 45px 70px 28px 90px;
    color: white;
    border-bottom: 15px solid var(--neutral-900);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}



.kids-benefits-item {
    color: var(--neutral-400);
    text-align: left;
}

.flex-equal>* {
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal>* {
        flex: 1;
    }
}

.gallery {
    background-color: var(--neutral-600);
}

p.times-preview {
    margin: 0 0 5px 0;
}

.day {
    background-color: white;
    display: inline-block;
    padding: 5px 10px;
    width: 10rem;
    margin: 0;
}

.time {
    background-color: var(--accent);
    text-align: center;
    color: var(--neutral-400);
    display: inline-block;
    padding: 5px 10px;
    width: 4rem;
    margin: 0;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
}

.descr-block {
    background-color: #EDF2F8;
    text-align: left;
}

.description_block_benefits {
    text-align: left;
    padding: 4rem 50px;
    margin-bottom: 6rem;
    height: 25rem;
    color: var(--neutral-400);
}

.bg-kids-4-7 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/kids-4-7.jpg);
    min-height: 27rem;
}

.bg-basics-classes {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/adults-1.jpg);
    min-height: 27rem;
}

.bg-advanced-class {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/advanced-class-1.jpg);
    min-height: 27rem;
}

.location-block {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    background-image: url(../images/academy-location-1.jpg);
    min-height: 350px;
}

.location-block-2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-image: url(../images/academy-location-2.jpg);
    min-height: 600px;
 
}

.bg-nogi-classes {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/no-gi-class-1.jpg);
    min-height: 27rem;
}

.bg-leglock-classes {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/leglock-classes-1.jpg);
    min-height: 27rem;
}

.bg-kids-7-10 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/kids-7-11.jpg);
    min-height: 27rem;
}

.bg-kids-10-15 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/kids-10-15.jpg);
    min-height: 27rem;
}

#kids-7-10 {
    margin: auto;
    display: block;
}

.self-defense-kids {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-image: url(../images/self-defense-kids.jpg);
    min-height: 20rem;
}

.friends-kids {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-image: url(../images/kids-benefits-friends.jpg);
    min-height: 20rem;
}

.contacts {
    color: var(--neutral-400);
}

.character-kids {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-image: url(../images/kids-benefits-character.jpg);
    min-height: 20rem;
}

.sport-kids {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-image: url(../images/sport-kids.jpg);
    min-height: 29rem;
}

.sport-kids {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/sport-kids.jpg);
    height: 25rem;
}

footer {
    padding: 50px 0;
    color: var(--neutral-500);
    border-top: 2px solid var(--neutral-700)
}

@media (max-width: 576px) {
    footer .col-sm {
        margin-bottom: 2rem;
    }
    footer {
        padding: 1rem;
    }
    .follow-us ul {
        padding: 0;
        margin-top: 1rem;
    }
}

.brand_footer {
    height: 100px;
    text-align: center !important;
    margin: 0 auto;
}

.follow-us {
    text-align: right;
}

.follow-us ul {
    list-style: none;
}

.follow-us li {
    display: inline-block;
    text-align: center;
    padding: 5px 0 0 0;
    text-decoration: none;
    background-color: var(--neutral-700);
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

.follow-us a {
    color: var(--neutral-600);
    font-size: 21px;
    text-decoration: none;
}

.follow-us li:hover, .follow-us li:active {
    background-color: var(--neutral-600);
    color: var(--neutral-700);
    text-decoration: none;
}

.follow-us ul li i {
    padding-bottom: 10px;
}

.intro-copy {
    color: var(--neutral-500);
    min-height: 20rem;
    padding-top: 5rem;
}

/* CURRICULUM */

.curriculum-list ul, .curriculum-list li {
    list-style: none;
}

.curriculum-list {
    color: var(--neutral-500);
    font-size: 1.5rem;
}

.whole--week {
    margin-top: 2rem;
    border-radius: 12px;
    position: relative;
}

ul.whole--week {
    padding-inline-start: 0;
}

.whole--week>li {
    position: relative;
    padding: 2.5rem 3rem 3rem 2rem;
    margin: 4rem 0;
    background-color: var(--neutral-800);
}

.whole--week>li:before {
    content: "";
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 39.69 39.69'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23232426;%7D.b%7Bfill:%23606c78;%7D%3C/style%3E%3C/defs%3E%3Ccircle class='a' cx='19.84' cy='19.84' r='19.84'/%3E%3Cpath class='b' d='M581.47,178.93l1-2.29a13.58,13.58,0,0,1,2.92,1.94,4.82,4.82,0,0,0,1.71,1l1.08,2.51a5.5,5.5,0,0,1-4.32-1.63,11.33,11.33,0,0,0-2.4-1.57m7.53.6a5.61,5.61,0,0,1-1.09.17l1,2.34a10.43,10.43,0,0,0,1.26-.28Zm-7.16-3.18c-.35-.15-.73-.3-1.16-.45l-1.12,2.28c.48.16.9.31,1.27.47Zm.44-9.45s5.76,10.47,8.49,14.43,5,3.57,5.43,3.57a4,4,0,0,0,3.65-4.27,4.52,4.52,0,0,0-1.61-3.62,2.69,2.69,0,0,1-1.06-2.56,2.7,2.7,0,0,0-1,2.19c.06,1,.89,1,1.31,1.29A2.66,2.66,0,0,1,598.6,180c0,.07.7.75.25,1.12a.4.4,0,0,1,.39.35,2.43,2.43,0,0,1-1.59,2.24c-.36.12-.55-.44-.47-.66-.81.51-2.29.08-3.43-1.05s-10.23-17.71-10.23-17.71Zm10.54,13.18c1.69,2.72,3.51,2.8,3.51,2.8a3,3,0,0,0,1.35-.24,1.44,1.44,0,0,1,0,.8,2.08,2.08,0,0,0,1.19-1.95,1.32,1.32,0,0,1-.67.78c-.15-.58.24-.5.34-1.28a.89.89,0,0,0-.55-.82c-.42-.21-1-.73-.94-1.28a.83.83,0,0,0-.36.64c0,.58.9,1,1,1.36.16.61-.15.84-.6.84-.83-.06-2.6-1.69-3.61-3.72s-8.22-16.85-8.22-16.85l-1.37,2.62s7.23,13.58,8.92,16.3m4.1-11.23c-.26.29-.07,1-.24,1.21s-.8.8-.76,1.42,1.16,1.33,1.14,1.85a1.57,1.57,0,0,1-.57.95s.23-1.05-.11-1.33a1.33,1.33,0,0,1-.46,1c-.24.16-.63.75,0,2.13a3.67,3.67,0,0,1,1.14-2c.26,0,.57.3.51,1.06s.36,1,.66,1.52c-.06-.83.76-1.5,1-1.22a11.43,11.43,0,0,0-.34-1.79.85.85,0,0,0-.2-.36,1.64,1.64,0,0,0-.34.73c0,.38-.2.32-.2.32a1.7,1.7,0,0,1-.1-1.07,1.3,1.3,0,0,0-.14-1.38c-.36-.43-.52-.65-.5-1a1.21,1.21,0,0,0,0,1,.9.9,0,0,1-.41-1.37c.28-.42-.06-1.63-.06-1.63m-1.75,6.49a3,3,0,0,0,.63,2.86c.14-.06.28-.32.5-.4a4.05,4.05,0,0,1-.63-1.65c-.13.3-.54-.46-.5-.81m4.57.32s-1,.8-1,1.31a5.11,5.11,0,0,1,1.49,3.44,5.92,5.92,0,0,1-.33,2.13,5.42,5.42,0,0,0,1-1.75c.06-.6,0-2.37,0-2.37s-.2.48-.52.58-.18-.35-.18-.35a1.81,1.81,0,0,1,.52-.45,2.7,2.7,0,0,1-1-2.54m-17.81-8.18a79.71,79.71,0,0,0-3.81,7.18l-1.31,2.66c-1.52,3-3,5.3-4.62,5.3a1.75,1.75,0,0,1-1.91-2,3.38,3.38,0,0,1,1.43-2.48,5.65,5.65,0,0,1,3.44-1,10.33,10.33,0,0,1,1.14.06l1.19-2.3c-3.63-.66-5.91.28-7.24,1.26a5.79,5.79,0,0,0-2.42,4.46,4.27,4.27,0,0,0,1.43,3.39,4.46,4.46,0,0,0,2.94,1c3.08,0,5-3,7.07-7.15l1.09-2.22c.91-1.88,1.89-3.89,3-5.84Z' transform='translate(-564.79 -154.97)'/%3E%3C/svg%3E");
    position: absolute;
    top: -15px;
    left: 45%;
}

.technique-entries li:before {
    content: "";
    display: inline-block;
    height: 1em;
    width: 1em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rgb(255,28,58)' class='bi bi-play-btn' viewBox='0 0 16 16'%3E%3Cpath d='M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z'/%3E%3Cpath d='M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 3rem;
    margin-top: 8px;
}

li.no-video:before {
    content: "";
    display: inline-block;
    height: 1em;
    width: 1em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rgb(131,133,138)' viewBox='0 0 16 16'%3E%3Cpath d='M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z'/%3E%3Cpath d='M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299l.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z'/%3E%3Cpath d='M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884l-12-12 .708-.708 12 12-.708.708z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 3rem;
    margin-top: 5px;
}

.technique-entries li {
    margin: 0.4em 0;
}

.curriculum--week-nr {
    margin: 0 0 0.8em 0;
}

.whole--week h4 {
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: var(--neutral-600);
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
}

.intro-copy .caption {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: var(--neutral-600);
    font-weight: 600;
    margin: 0;
}

.intro-copy .lead {
    color: var(--neutral-600);
    margin-bottom: 8rem;
}

.wrap-week {
    margin-left: 30px;
}

.curriculum-list a {
    color: var(--neutral-500);
    text-decoration-color: var(--accent);
    text-underline-offset: 0.1em;
    text-decoration-thickness: 3px;
}

.curriculum-list a:hover {
    color: var(--neutral-400);
    text-decoration-color: var(--accent);
    text-underline-offset: 0.1em;
    text-decoration-thickness: 3px;
}

/* CURRICULUM ENDS   */

@media (max-width: 576px) {
    footer, .follow-us {
        text-align: center !important;
    }
}

.modal {
    background: var(--neutral-900) 0.7;
}

.free-session .modal-body {
    padding: 0;
}

.free-session .modal-header {
    border: none;
    background-color: #123597;
}

.free-session {
    text-align: left;
    color: black;
}

.application-form-header {
    color: white;
    background-color: #123597;
    padding: 0 5rem .2rem 3.5rem;
}

.application-form-content {
    padding: 2rem 3.5rem .5rem 3.5rem;
}

.application-form-intro {
    margin-bottom: 2rem;
}

.btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.field-inline-block {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;  
}

.c-form__input, .c-form__select, .c-input {
    background-color: #fff;
    color: #454545;
    text-decoration: none;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: normal;
    font-size: 1rem;
    border: 1px solid #696969;
    border-radius: 4px;
    box-shadow: none;
    padding: 1.15rem 1rem;
    display: inline-block;
    width: 100%;
}

.c-form__label, .c-form__legend {
    display: block;
    margin: 1rem 0 .5rem 0;
    font-weight: 700;
    line-height: 1.28571429;
    letter-spacing: .2px;
    font-size: .875rem
}

#map {
    height: 400px;
    width: 100%;
  }


.gym-location {
    background-image: url(../images/academy-location-1.jpg);
}